@charset "UTF-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
header, hgroup, nav, section, article, aside, footer, figure,
figcaption, menu, button {
    margin: 0;
    padding: 0;
}

html {
    background: #f7f7f7;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

em, i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-top: .5em;
}

table tr {
    width: 100%;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
}

table tr:hover {
    background: #1E2235;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
}

/*清除浮动样式*/
.clear {
    clear: both;
}

/*系统内所有链接的样式*/
a:link {
    text-decoration: none;
    color: #0283f7;
}

a:visited {
    text-decoration: none;
    color: #0283f7;
}

a:hover {
    text-decoration: none;
    color: #015bad;
}

a:active {
    text-decoration: none;
    color: #0283f7;
}

nav[role="mainMenu"] a:hover {
    background-size: cover;
    color: #7A98F7;
}

#selBusiness .block117 {
    padding: 0 0.75em;
}

button, input[type="submit"], input[type="button"] {
    min-width: 4em;
    height: 1.75em;
    line-height: 1.75em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    background: #30aaff;
    color: #FFFFFF;
    text-align: center;
    padding: 0 1em;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"],
select, input[type="password"] {
    width: 10em;
    height: 1.75em;
    line-height: 1.75em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    border: none;
    outline: none;
    background-color: #1E2235;
    border: 1px solid #30aaff;
    padding-left: .6em;
    color: #C6CBE6;
}

select {
    min-height: 1.75em;
    height: auto;
    background-color: #1E2235;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus,
input[type="email"]:focus {
    border: 1px solid #7b9af4;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: rgba(33, 168, 203, 0.1);
}

button[disabled="disabled"] {
    background: #63a8e6 !important;
}

body {
    margin: 0 auto;
    clear: both;
    line-height: 1.75em;
    padding-top: 2.2em;
    font-size: 0.9em;
}

.title-date {
    width: 100%;
    height: 2.86em;
    padding: 0 0.7em;
    background: transparent;
    margin-top: 0.5em;
}

.title-date .block109 {
    width: 100%;
    height: 2.86em;
    line-height: 2.86em;
    text-align: right;
}

.title-date .block109 span {
    display: none;
}

.title-date .block109 img {
    width: 1.3em;
}

.title-date .block109 input {
    color: #22acd0;
    padding: 0 0.5em 0 0;
    text-align: right;
}

.scrollArea {
    position: relative;
    width: 100%;
    padding: 0.7em;
    background: #fff;
}

.scrollArea ol.context li {
    padding: 0.5em 0;
    border-bottom: 1px solid #e6e6e6;
}

.scrollArea ol.context li:last-child {
    border-bottom: 0;
}

.scrollArea ol.context li section {
    font-size: 0.9em;
}

.scrollArea ol.context li section:first-child {
    color: #333;
    font-size: 1em;
}

.scrollArea ol.context li section span.right a {
    color: #fff;
}

.selBusiness {
    width: 100%;
    height: auto;
    padding: 1em;
    border-bottom: 1px solid #323547;
    position: relative;
}

.selBusiness .block101 > a {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 6.5em;
}

.selBusiness .block101 > a > img {
    float: right;
    margin: 3em 1em 0 0;
}

.selBusiness .block117 {
    padding: 0;
}

.selBusiness .block117 span {
    margin-right: 1em;
}

/*选择弹窗的样式*/
.selectDialog {
    border-radius: 0.5em;
    display: none;
    position: fixed;
    z-index: 101;
    width: 100%;
    cursor: move;
}

.dialogClose span {
    float: right;
}

.dialogClose a {
    color: white;
    padding: 0.15em 0.5em;
}

/*普及版购物车数量修改样式*/
.reducelabel a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3em;
    background: #ff732f;
    cursor: pointer;
    font-weight: bold;
    color: #e7e7e7;
}

.reducelabel a:hover {
    background: #ff5300;
    color: white;
}

/*pc版表格样式*/
.dbgrid {
    width: 99%;
    border-collapse: collapse;
    border-image: none;
    border: 1px solid #eeeeee;
    margin: 0 0.5%;
}

.dbgrid tr {
    height: 2.5em;
}

.dbgrid th {
    font-weight: normal;
    border: 1px solid #eeeeee;
    padding: 0.25em;
    background: #e4e4e4;
}

.dbgrid td {
    border: 1px solid #eeeeee;
    cursor: pointer;
    padding: 0 4px;
}

.dbgrid td input {
    border: 0;
    border-radius: 0;
    width: 100%;
}

.dbgrid td input[type="checkbox"] {
    height: 1em;
}

.dbgrid tr:hover {
    background-color: #1E2235;
}

/* 搜索form专用 */
form.search {
    padding: 0.5em;
    background: #ececec;
    clear: both;
}

form.search table {
    width: 70%;
    float: left;
}

form.search th {
    font-weight: normal;
    text-align: right;
    min-width: 6em;
    width: 30%;
    text-align: right;
}

form.search td {
    width: 70%;
    min-width: 1em;
}

form.search td input {
    width: 100%;
    font-size: 1.2em;
}

form.search td select {
    width: 100%;
    font-size: 1.2em;
}

form.search div input {
    min-width: 6em;
}

form.search p {
    clear: both;
}

form.search ul {
    list-style-type: none;
}

form.search ul li {
    min-width: 6em;
    padding-top: 0.25em;
}

form.search ul li input, form.search ul li select {
    width: 50%;
    min-width: 6em;
}

form.search ul li input.price {
    width: 27%;
}

form.search ul li span {
    display: inline-block;
    padding: 0 0.25em;
    width: 3em;
}

form.search ul li label {
    display: inline-block;
    text-align: right;
    min-width: 5em;
    max-width: 7em;
}

form.search ul li a img {
    vertical-align: middle;
    border-radius: 0.2em;
}

form.search ul li a img:hover {
    border: 1px solid #fecd38;
    border-radius: 0.2em;
}

form.search ul li input[type=checkbox] {
    min-width: 1em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
}

form.search ul li input[type=checkbox] + label {
    max-width: 14em;
}

form.search input[type=submit] {
    margin-top: 1em;
}

form.search button {
    margin-top: 1em;
}

form.search p input {
    float: right;
    min-width: 6em;
    vertical-align: top;
}

[readonly=readonly] {
    background-color: #dcdbdb;
}

[readonly=readonly]:focus {
    border: 1px solid #dcdbdb !important;
}

/* 修改form.formBox专用 */
form.modify {
    padding: 0.5em 0;
    background: #ececec;
    clear: both;
    text-align: center;
    position: relative;
}

form.modify table {
    width: 70%;
    float: left;
}

form.modify th {
    font-weight: normal;
    text-align: right;
    min-width: 6em;
    width: 30%;
    text-align: right;
}

form.modify td {
    width: 70%;
    min-width: 1em;
}

form.modify td input {
    width: 100%;
    font-size: 1.2em;
}

form.modify td select {
    width: 100%;
    font-size: 1.2em;
}

form.modify div input {
    min-width: 6em;
}

form.modify p {
    clear: both;
}

form.modify ul {
    list-style-type: none;
}

form.modify ul li {
    min-width: 6em;
    padding-top: 0.25em;
}

form.modify ul li section {
    text-align: left;
    padding-left: 0.25em;
}

form.modify ul li input, form.modify ul li select {
    width: 55%;
    min-width: 6em;
}

form.modify ul li input[type="radio"] {
    width: 1em;
    min-width: 0.5em;
    display: inline-block;
    margin: 0;
}

form.modify ul li span {
    display: inline-block;
    padding: 0 0.25em;
    width: 3em;
}

form.modify ul li label {
    display: inline-block;
    text-align: right;
    width: 5em;
}

form.modify ul li a img {
    vertical-align: middle;
    border: 1px solid #bebebe;
    border-radius: 0.2em;
}

form.modify ul li a img:hover {
    border: 1px solid #fecd38;
    border-radius: 0.2em;
}

form.modify ul li input[type=checkbox] {
    min-width: 1em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
}

form.modify ul li input[type=checkbox] + label {
    width: auto;
}

form.modify input[type=submit] {
    margin-top: 1em;
}

form.modify button {
    margin: 1em 0.5em 0 0.5em;
}

form.modify p input {
    float: right;
    min-width: 6em;
    vertical-align: top;
}

ul.select-line {
    list-style-type: none;
}

/*新框架样式*/
section[role="content"] ul.info {
    padding-top: 16px;
}

section[role="content"] ul.info li {
    list-style-type: none;
    max-width: 25em;
    padding: 0.25em 0.5em 0.25em 0.1em;
}

section[role="content"] ul.info li font {
    color: red;
}

section[role="content"] ul.info li img {
    padding-top: 0.25em;
}

section[role="content"] ul.info li label {
    display: inline-block;
    text-align: right;
    min-width: 6em;
    max-width: 10em;
    margin-left: 1em;
}

section[role="content"] ul.info li input[type='text'], li input[type='number'], li input[type='tel'], li input[type='file'] {
    min-width: 12em;
    width: 55%;
    height: 1.75em;
}

section[role="content"] ul.info li input[type='checkbox'] {
    margin-left: 6em;
}

/*卡片样式 用于基本资料、帐号权限管理等*/
section[role="content"] section[role="sheetCard"] {
    background: #eee;
    width: 90%;
    float: left;
    margin: 0.25em 5%;
    height: 11em;
}

section[role="content"] section[role="sheetCard"] div {
    padding: 0 0.5em;
}

section[role="content"] section[role="sheetCard"] div.describe {
    width: 80%;
}

section[role="content"] section[role="sheetCard"] label {
    display: block;
    width: 100%;
    border-bottom: 1px solid #bbb;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-left: 2px solid #ff7431;
    margin-bottom: 0.25em;
}

section[role="content"] section[role="sheetCard"] label a {
    float: right;
    font-weight: normal;
}

/*首页图标样式*/
.menuList {
    padding: .625em;
    margin-top: 2em;
}

.menuList .block_Img_Div {
    display: inline-block;
    padding-top: 0.5em;
    width: 25%;
    max-width: 8.5em;
    min-height: 8.5em;
    overflow: hidden;
    float: left;
    min-width: 3em;
    text-align: center;
    cursor: pointer;
}

.menuList .block_Img_Div img {
    height: 4.5em;
    width: auto;
    margin-bottom: 0.5em;
}

section[role="content"] ul[role="menuList"] {
    padding: .625em;
}

section[role="content"] ul[role="menuList"] li {
    padding-top: 0.5em;
    width: 25%;
    max-width: 8.5em;
    min-height: 8.5em;
    overflow: hidden;
    float: left;
    min-width: 3em;
    text-align: center;
}

section[role="content"] ul[role="menuList"] li a {
    color: #333;
}

aside[role="toolBar"] section {
    margin: 5px;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 4px;
    padding: 0.5em;
}

aside[role="toolBar"] section ul {
    width: 95%;
}

aside[role="toolBar"] section ul li {
    list-style-type: none;
    padding: 0 0.5em;
}

aside[role="toolBar"] section ul li a {
    display: inline;
    padding: 0;
}

aside[role="toolBar"] section div.title {
    border-bottom: 1px dotted #dedede;
    display: block;
    padding: 0.05em 1.5em;
    box-shadow: 0 2px white;
    color: #4d4d4d;
    font-weight: bold;
    border-radius: 8px 0 0 0;
    position: relative;
}

aside[role="toolBar"] section div.title:before {
    position: absolute;
    top: 0.45em;
    left: 0;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/tips-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em 1em;
}

aside[role="toolBar"] section div.contents a {
    padding: 0.01em 0.5em;
}

aside[role="toolBar"] section div.contents p {
    color: #848484;
    margin: 0;
    padding: 0 0.25em;
    text-indent: 0em;
}

aside[role="toolBar"] div.contents a {
    display: inline-block;
    padding: 0 0.4em;
}

/*工具栏选项卡*/
aside[role="toolBar"] ul[role="toolGroup"] {
    width: 100%;
}

aside[role="toolBar"] ul[role="toolGroup"] ui {
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-bottom: .5em;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cecece;
}

aside[role="toolBar"] ul[role="toolGroup"] ui.active {
    color: #058FCA;
    background: #fff;
    border: 0;
}

aside[role="toolBar"] div[role="toolSheet"] {
    display: none;
    clear: both;
    height: auto;
    color: #fff;
    overflow-y: auto;
}

aside[role="toolBar"] div[role="toolSheet"]#group0 {
    display: block;
}

footer[role="footer"] section[role="footerOperation"] {
    display: inline-block;
    margin-left: 1em;
}

footer[role="footer"] section[role="footerOperation"] input[type="checkbox"] {
    margin-top: -0.1em;
    vertical-align: middle;
}

section[role="leftMenu"] > ul li img {
    margin-top: -0.2em;
    width: 1.6em;
}

/*操作提示信息*/
section[role="message"] {
    min-height: 2.5em;
    max-height: 7em;
    line-height: 1.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    color: #fff;
    padding: 0.5em 1em;
}

@media only screen and (max-width: 768px) {
    html {
        width: 100%;
        height: 100%;
        /* background: #011221 url(../images/bg-img.png) no-repeat fixed center; */
        background: #f5f5f5;
        background-size: 100% 100%;
    }

    img {
        max-width: 100% !important;
    }

    form.search {
        text-align: center;
    }

    .inputGroup {
        width: 16em;
        height: 2em;
        line-height: 2em;
        /*margin: .5em auto 0;*/
        margin: 0 auto;
    }

    .inputGroup label {
        display: inline-block;
        width: 5em;
        height: 2em;
        margin-right: .6em;
        text-align: right;
    }

    .inputGroup .btnSubmit {
        display: block;
        margin: .5em auto 0;
    }

    /*头部*/
    header[role="header"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 2.2em;
        background: #058FCA;
        z-index: 102;
    }

    section[role="ad"] {
        display: none;
        width: 100%;
        height: 2.2em;
    }

    section[role="ad"] img {
        width: 100%;
        height: 2.2em;
    }

    nav[role="mainMenu"] {
        width: 100%;
        height: 2.2em;
        padding: 0 10px;
        color: #fff;
        position: relative;
    }

    nav[role="mainMenu"] section[role="leftMenu"] {
        width: 100%;
        height: 2.2em;
        line-height: 2.2em;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        display: none;
    }

    nav[role="mainMenu"] section[role="leftMenu"] > ul {
        width: 100%;
        min-height: 2.2em;
    }

    section[role="leftMenu"] > ul li {
        float: left;
        height: 2.2em;
        line-height: 2.2em;
        padding-left: 0.5em;
        color: #FFFFFF;
    }

    section[role="leftMenu"] > ul li a {
        color: #FFFFFF;
    }

    section[role="leftMenu"] > ul li img {
        width: 1.25em;
        height: 1.1em;
        margin-top: -0.4em;
    }

    span[role="shopNums"] {
        top: -0.6em !important;
        font-size: 11px !important;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: 100%;
        min-height: 2.2em;
    }

    section[role="rightMenu"] > ul {
        float: right;
    }

    section[role="rightMenu"] > ul li {
        float: left;
        height: 2.2em;
        line-height: 2.2em;
        padding: 0 .5em 0 0.5em;
        color: #FFFFFF;
    }

    section[role="rightMenu"] > ul li a {
        color: #FFFFFF;
    }

    section[role="rightMenu"] > ul li img {
        width: 1.2em;
        height: 1.2em;
        margin-top: -0.4em;
        /*vertical-align: baseline;*/
    }

    nav[role="mainMenu"] section[role="rightMenu"] a {
        color: #fff;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        width: 1.8em;
        height: 1.5em;
        margin-top: -.4em;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: auto;
        height: 2.2em;
        line-height: 2.2em;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 210;
        background-color: #058FCA;
    }


    /*主体部分*/
    article[role="document"] {
        width: 100%;
        min-height: 10em;
        position: relative;
        padding-bottom: 2.5em;
    }

    article[role="document"] section[role="control"] {
        width: 100%;
        min-height: 3em;
        background: #ececec;
    }

    article[role="document"] section[role="control"] div[role="group"] {
        padding: 0 0.5em;
    }

    article[role="document"] section[role="content"] {
        width: 100%;
        min-height: 5em;
    }

    article[role="document"] section[role="content"] .dbgrid {
        margin-top: 0.625em;
        padding: 0 0.625em;
    }

    /*工具栏部分*/
    aside[role="toolBar"] {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        border: 1px solid #e6e6e6;
        z-index: 100;
        padding: 3.2em 2.625em 3.3em .625em;
    }

    .leftAside {
        background-image: url(../images/handle-left-phone.png);
        border-left: 2px solid rgb(250, 173, 97);
        border-right: medium none transparent;
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        right: initial;
        width: 1em;
        background-size: .7em 4.5em;
        background-position: -1px center;
        background-repeat: no-repeat;
        height: 100%;
        z-index: 101;
    }

    aside[role="toolBar"] section[role="sheet"] {
        width: 100%;
        margin-top: .6em;
    }

    aside[role="toolBar"] section[role="sheet"] #tab {
        width: 100%;
        margin: 0 auto;
        /*box-shadow: 5px 5px 5px #058FCA;*/
    }

    aside[role="toolBar"] section[role="sheet"] #tab h3 {
        margin: 0px;
        padding: 0px;
        float: left;
        right: .3em;
        width: 5em;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }

    aside[role="toolBar"] section[role="sheet"] #tab div {
        clear: both;
        height: 10em;
        padding: .6em 0px 0px .6em;
        display: none;
        color: #fff;
        overflow-y: auto;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    aside[role="toolBar"] section[role="sheet"] #tab h3.active {
        background: #058FCA;
        border-top-left-radius: .4em;
        border-top-right-radius: .4em;
        color: #fff;
    }

    aside[role="toolBar"] section[role="sheet"] #tab div.content {
        display: block;
        background: #058FCA;
    }

    /*底部*/
    footer[role="footer"] {
        width: 100%;
        height: 2.5em;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #f7f7f7;
        z-index: 101;
    }

    footer[role="footer"] section[role="footerTools"] {
        display: inline-block;
        height: 2.5em;
    }

    section[role="footerTools"] > a {
        display: inline-block;
        min-width: 4em;
        height: 1.75em;
        line-height: 1.48em;
        border-radius: .4em;
        -webkit-border-radius: .4em;
        text-align: center;
        padding: 0 0.8em;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 1em;
        background: #fcfcfc;
        color: #333;
        border: 1px solid #dedede;
        margin-top: 0.35em;
    }

    footer[role="footer"] section[role="footerButtons"] {
        width: 100%;
        height: 2.5em;
    }

    section[role="footerButtons"] a {
        display: inline-block;
        width: auto;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        border-left: 1px solid #dedede;
        border-top: 1px solid #dedede;
        color: #333;
        float: left;
    }

    section[role="message"] {
        padding: 0.5em 1em;
    }

    /*内容区样式（手机版段落式排版）*/
    ol.context li {
        padding: 0.5em 0.75em;
        border-bottom: 1px solid #8c8c8c;
    }

    ol.context {
        list-style-type: none;
        padding: 0.25em;
        margin-top: 0;
    }

    ol.context li table {
        width: 100%;
        border-collapse: collapse;
    }

    ol.context li table tr th {
        text-align: right;
        font-weight: normal;
        padding: 0.25em;
    }

    ol.context li table tr td {
        text-align: left;
    }

    ol.context li table tr td:last-child {
        text-align: right;
    }

    ol.context li table tr input {
        width: 50%;
    }

    /* ol.context li table tbody tr:nth-child(odd) {
        background: #eee;
    } */
    ol.context li table tbody tr:hover {
        background: #b0d8ff;
    }

    ol.context li section span {
        margin-right: 0.5em;
    }

    ol.context li section span.right {
        float: right;
        color: #ca0000;
        font-size: 1.6em;
    }

    ol.context li section span.right a {
        color: #22acd0 !important;
        text-decoration: underline;
    }

    ol.context li section span img {
        vertical-align: middle;
    }
}

.dialogClose {
    width: 100%;
    background-color: #5e6a8f;
    color: white;
    padding: 0.3em;
    position: absolute;
}

/*选中行时整行变色*/
.trColor {
    /* background-color: transparent !important; */
}

/*长条色块**/
.progress1 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid rgb(153, 153, 153);
    text-align: left;
}

.progress1 span {
    display: none;
}

.progress2 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid rgb(153, 153, 153);
    text-align: left;
}

.progress2 span {
    display: block;
    height: 10px;
    width: 50%;
    left: 0px;
    background-color: lawngreen;
}

.progress3 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid lawngreen;
    text-align: left;
}

.progress3 span {
    display: block;
    height: 10px;
    width: 100%;
    background-color: lawngreen;
}

.progress4 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid #ff8000;
    text-align: left;
}

.progress4 span {
    display: block;
    height: 10px;
    width: 100%;
    background-color: #ff8000;
}

/*多选框开关样式*/
.switch > input {
    display: none;
}

.switch > input + label {
    background-color: #F0F0F2;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
    display: block;
    height: 1.6em;
    width: 3em;
}

.switch > input:checked + label {
    background-color: #4cda60;
    border: 1px solid #4cda60;
}

.switch > input + label > span {
    border: 1px solid;
    border-radius: 50%;
    color: #cacaca;
    display: block;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    float: left;
}

.switch > input:checked + label > span {
    float: right;
}

#tableTbType > div {
    background-color: #f2f2f2;
    font-size: 0.9em;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1em;
    text-align: left;
    width: 100%;
}

#tableTbType ul li {
    display: inline-block;
    margin-left: 1em;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.treeGrid tr {
    display: flex;
    display: -webkit-flex;
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox; */
    justify-content: space-around;
    height: auto;
}

.treeGrid tr:hover {
    background: transparent;
}

.treeGrid td {
    text-align: center !important;
    border: 1px solid #21a8cb;
    width: 25%;
    margin: 0 0.2em 2em;
    position: relative;
    font-size: 0.9em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    min-height: 2em;
}

.treeGrid td a {
    display: inline-block;
    width: 100%;
    min-height: 2em;
    color: #fff;
    padding: 0.3em 0;
    line-height: 1.4em;
}

.treeGrid td:before {
    position: absolute;
    bottom: -1.6em;
    left: -0.6em;
    display: inline-block;
    width: 8em;
    height: 0.8em;
    content: "";
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.treeGrid td:after {
    position: absolute;
    bottom: -0.75em;
    left: 50%;
    display: inline-block;
    width: 1px;
    height: 0.7em;
    content: "";
    background: #fff;
}

.treeGrid tr:first-child td:before {
    left: -3.7em;
    width: 14em;
}

.treeGrid tr:last-child td:before {
    border: none;
    width: 0;
    height: 0;
}

.treeGrid tr:last-child td:after {
    background: transparent;
    width: 0;
    height: 0;
}

.treeGrid td span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #21a8cb;
}
