@charset "UTF-8";
body {
    font-family: Microsoft YaHei;
}

/**滚动条样式**/
::-webkit-scrollbar {
    width: 3px; /*对垂直流动条有效*/
    height: 7px;
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #c5c5c5;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
    display: none;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
    display: none;
}

@media only screen and (min-width: 768px) {
    .selectSup .block301 {
        padding: 0.8em;
        border-bottom: 1px solid #dedede;
        position: relative;
    }

    .selectSup .block301 img[role='icon'] {
        float: left;
        width: 4.375em;
        height: 4.375em;
        margin-right: 0.8em;
        border-radius: 5px;
    }

    .selectSup .block301 img[role='right'] {
        float: right;
        width: 0.8em;
        position: absolute;
        right: 0;
        margin-top: 1.5em;
        margin-right: 1em;
    }

    .selectSup .block301 span[role="red"] {
        border: 1px solid;
        color: red;
        padding: 0 0.2em;
    }

    .selectSup .block301 span[role="green"] {
        border: 1px solid;
        color: green;
        padding: 0 0.2em;
    }

    a:link {
        text-decoration: none;
        color: #0f6cb4;
    }

    a:visited {
        text-decoration: none;
        color: #2884cc;
    }

    button, input[type="submit"], input[type="button"] {
        background: #009307;
        border-radius: 0em;
        -webkit-border-radius: 0em;
    }

    button:hover, input[type="submit"]:hover, input[type="button"]:hover {
        background: #0068B7;
    }

    button[value='search'] {
        background: #009307;
        color: #ffffff;
    }

    nav[role="mainMenu"] a:hover {
        background-size: cover;
        color: #2884cc;
    }

    form.search, form.modify {
        background: #f9fdff;
    }

    .ui-title {
        display: none;
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        padding-left: 1em;
        background-color: #D5D5D5;
        color: #666666;
        font-size: 1.2em;
        border-radius: 0.5em 0.5em 0 0;
    }

    .ui-title-operate {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        background: url(../images/title-operate.png);
        background-repeat: no-repeat;
        background-size: auto auto;
        background-position: center center;
        cursor: pointer;
        filter: contrast(0);
    }

    .ui-title-hide {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }

    .dbgrid th {
        text-align: center;
        color: #666666;
    }

    .dbgrid th a {
        color: #ffffff;
    }

    .dbgrid td {
        /*text-align: left;*/
        border: 1px solid #eeeeee;
    }

    .dbgrid tr:hover {
        background-color: #d7ffef !important;
    }

    /* 修改form专用 */
    form.modify {
        width: 100%;
        max-width: 100%;
        z-index: 2;
    }

    form.modify table {
        width: 80%;
    }

    form.modify div {
        clear: both;
    }

    form.modify th {
        width: 15%;
    }

    form.modify td {
        width: 30%;
    }

    form.modify td.hint {
        width: 5%;
    }

    form.modify {
        min-width: 980px;
        text-align: left;
    }

    form.modify ul {
        min-width: 855px;
        float: left;
        width: 90%;
    }

    form.modify ul li {
        width: 24%;
        min-width: 21em;
        display: inline-block;
        padding-left: 1em;
    }

    form.modify ul li input, form.modify ul li select {
        width: 50%;
        min-width: 3em;
    }

    form.modify ul li span {
        padding: 0;
        width: 1em;
    }

    form.modify input[type=submit] {
        margin-top: 0.25em;
        display: block;
    }

    form.modify button {
        margin-top: 1em;
        display: block;
    }

    /*搜索区域样式*/
    form.search table {
        width: 80%;
    }

    form.search div {
        clear: both;
    }

    form.search th {
        width: 15%;
    }

    form.search td {
        width: 30%;
    }

    form.search td.hint {
        width: 5%;
    }

    form.search ul {
        min-width: 855px;
        float: left;
        width: 94%;
    }

    form.search ul li {
        width: 22%;
        min-width: 19em;
        padding-left: 1em;
        display: inline-block;
    }

    form.search ul li span {
        padding: 0;
        width: 1em;
    }

    form.search ul li input, form.search ul li select {
        width: 50%;
        min-width: 3em;
    }

    form.search ul li input.price {
        width: 24.5%;
    }

    form.search input[type=submit] {
        clear: both;
        margin: 0.5em auto 0;
    }

    form.search button {
        clear: both;
        margin: 0.5em auto 0;
        border-radius: 0.5em;
    }

    form.modify ul + div, form.search ul + div {
        position: absolute;
        right: 4em;
        top: 0.7em;
    }

    form[action="TFrmInitSystem"].search ul + div {
        top: 0.5em;
    }

    form.modify ul + div button.revoke, form.search ul + div button {
        margin: 0 0.5em !important;
    }

    form.upload ul li {
        width: 45%;
        padding-left: 1em;
        display: inline-block;
    }

    form.upload ul li input, form.upload ul li select {
        width: 60%;
        min-width: 3em;
    }

    body {
        position: relative;
        max-width: 100%;
        min-width: 980px;
        overflow: hidden;
        padding-top: 4.175em;
        height: 100vh;
    }

    table {
        border: 1px solid #e6e6e6;
    }

    .dbgrid {
        width: 100%;
        margin: 0;
    }

    .inputGroup {
        display: inline-block;
        width: 16em;
        height: 3em;
        line-height: 3em;
        float: left;
    }

    .inputGroup label {
        display: inline-block;
        width: 5em;
        height: 3em;
        margin-right: .6em;
        text-align: right;
    }

    .inputGroup input[type="submit"] {
        margin-left: .6em;
    }

    /*头部*/
    header[role="header"] {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        min-width: 980px;
        min-height: 3.819em;
        z-index: 101;
        background: #eeeeee;
    }

    section[role="advertisement"] {
        width: 100%;
        height: 120px;
        padding: 0 10px 10px;
        background: #b0d8ef;
        position: relative;
        display: none;
    }

    section[role="advertisement"]:after {
        display: inline-block;
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: url(../images/ads-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 10px;
        z-index: 999;
    }

    section[role="advertisement"] img {
        width: 100%;
        height: 110px;
    }

    nav[role="mainMenu"] {
        width: 100%;
        height: 3.819em;
        padding: 0 1.5em;
        color: #0f6cb4;
        background: #F2F3F8;
        padding-left: 19em;
    }

    nav[role="mainMenu"] section[role="leftMenu"] {
        width: auto;
        height: 3.819em;
        line-height: 3.819em;
        float: left;
        position: relative;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        display: none;
    }

    nav[role="mainMenu"] section[role="leftMenu"] > ul {
        width: auto;
        height: 3.819em;
        display: inline-block;
        float: left;
        padding-left: 1em;
    }

    nav[role="mainMenu"] section[role="leftMenu"] div[role="headerButtons"] {
        width: auto;
        min-height: 3.819em;
        display: inline-block;
        float: left;
    }

    nav[role="mainMenu"] section[role="leftMenu"] div[role="headerButtons"] a {
        color: #333;
        border-left: 1px solid #e6e6e6;
        padding-left: 1em;
        margin-right: 1em;
    }

    nav[role="mainMenu"] section[role="leftMenu"] div[role="headerButtons"] a > img {
        margin-right: 0.5em;
        margin-top: -0.2em;
    }

    section[role="leftMenu"] > ul li img {
        width: 0.8em;
        height: 1em;
    }

    section[role="leftMenu"] > ul li {
        float: left;
        height: 3.819em;
        line-height: 3.819em;
        padding-right: 0.5em;
        color: #666666;
    }

    section[role="leftMenu"] > ul li a {
        color: #666666;
    }

    section[role="leftMenu"] > ul li span {
        margin-right: 0.3em;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: 100%;
    }

    section[role="rightMenu"] > ul {

    }

    section[role="rightMenu"] > ul li {
        display: inline-block;
        height: 3.819em;
        line-height: 3.819em;
        padding: 0 0.2em 0 0.5em;
        color: #0f6cb4;
    }

    section[role="rightMenu"] > ul li:nth-child(2) {

    }

    section[role="rightMenu"] > ul li a {
        color: #666666;
    }

    span[role="shopNums"] {
        margin-left: 0.5em;
    }

    section[role="rightMenu"] > ul li img {
        width: 1.2em;
        height: 1.2em;
        margin-top: -0.4em;
        margin-right: 0.5em;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        width: 1.8em;
        height: 1.5em;
        margin-top: -.4em;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: auto;
        height: 3.819em;
        line-height: 3.819em;
        float: right;
        text-align: right;
    }

    nav[role="mainMenu"] section[role="rightMenu"] .exit {
        width: 1.3em;
        height: 1.3em;
        margin-top: -.4em;
    }

    .titel_top {
        background-color: #ffffff;
        color: #333333;
        height: 4.5em;
        line-height: 4.5em;
        overflow: hidden;
        display: none;
    }

    .titel_top > span {
        font-size: 1.3em;
        font-weight: bold;
        color: #009307;
    }

    .titel_top img {
        margin-left: 4.5em;
    }

    .titel_top span:nth-child(2) {
        margin-left: 0.7em;
    }

    .logo_box {
        float: left;
        width: 19em;
        height: 100%;
        background: #EAE8E7;
    }

    .user_right {
        float: right;
        font-size: 1em;
        margin-right: 1.7em;
    }

    .user_right a {
        margin-left: 1em;
        color: #333333;
    }

    .user_right > a {
        color: #ffffff;
        position: relative;
    }

    .user_right > a:after {
        display: inline-block;
        content: '';
        width: 1em;
        height: 1em;
        background: url(../images/default/out.png);
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .titel_top span i {
        margin-left: 0.5em;
    }

    /*主体部分*/
    article[role="document"] {
        max-width: 100%;
        width: 100%;
        min-width: 980px;
        min-height: 10em;
        padding-left: 19em;
        overflow: auto;
        position: relative;
        background-color: #F2F3F8;
    }

    article[role="document"] section[role="control"] {
        padding: 0 1.1em 0em 1.1em;
        background: transparent;
        clear: both;
    }

    article[role="document"] section[role="content"] {
        min-height: 5em;
        overflow-y: auto;
        margin: 0 1.1em 0.7em 1.1em;
    }

    .infoList span {
        color: #666666;
        font-size: 1em;
    }

    .infoList span[role="title"] {
        color: #009307;
        vertical-align: middle;
        font-weight: bold;
    }

    .infoList li:not(:first-child) {
        padding-left: 2.2em;
    }

    .user_name {
        overflow: hidden;
        margin-top: 0 !important;
    }

    .user_name li:not(:first-child) {
        float: left;
    }

    .user_name li:nth-child(2) {
        margin-right: 1.5em;
    }

    .user_name li:not(:first-child), .systemState li:not(:first-child), .systemNotice li:not(:first-child) {
        margin: 0.8em 0;
    }

    .unreadMessage li:nth-child(2) {
        margin-top: 0.8em;
    }

    .unreadMessage li:last-child {
        margin-bottom: 0.8em;
    }

    /*leftSide区内的样式*/
    .info-newStyle div.leftSide section {
        margin: 5px;
        border: 1px solid #dedede;
        border-radius: 10px 0;
    }

    .info-newStyle div.leftSide section ul li {
        padding: 0.05em 0.5em;
    }

    .info-newStyle div.leftSide section div.title {
        display: block;
        padding: 0.05em 0.5em;
        box-shadow: 0 2px white;
        background: #dedede;
        color: #4d4d4d;
        font-weight: bold;
        border-radius: 8px 0 0 0;
    }

    .info-newStyle div.leftSide section div.title a {
        float: right;
        margin-right: 0.5em;
    }

    .info-newStyle div.leftSide section div.contents span {
        display: block;
        margin-left: 0.5em;
    }

    /*工具栏部分*/
    aside[role="toolBar"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 19em;
        background: #EAE8E7;
        z-index: 102;
        height: 100vh;
        padding: 0.5em 0em .3em;
    }

    .toolBar-pc {
        top: 4.175em !important;
        padding-top: 0 !important;
    }

    .body-pc {
        height: calc(100vh - 4.175em);
        padding-top: 8.5em;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }

    .leftAside {
        position: absolute;
        top: 0;
        right: 0;
        width: 0.7em;
        height: 100%;
        display: inline-block;
        background-image: url(../images/handle-left.png);
        background-repeat: no-repeat;
        background-size: .7em 4.5em;
        background-position: 0px center;
        border-right: 2px solid #b0d8ef;
        z-index: 100;
        padding: 3.2em 0 3.3em 0;
        cursor: pointer;
    }

    /*底部*/
    footer[role="footer"] {
        position: absolute;
        top: calc(100vh - 2.5em);
        left: 0;
        max-width: 100%;
        width: 100%;
        min-width: 980px;
        height: 2.5em;
        background: #ffffff;
        z-index: 101;
        padding-left: 19em;
        border-top: 1px solid #eeeeee;
    }

    footer[role="footer"] section[role="footerTools"], footer[role="footer"] section[role="footerButtons"] {
        display: inline-block;
        height: 2.5em;
        line-height: 2.5em;
    }

    section[role="footerTools"] > a, section[role="footerButtons"] a {
        display: inline-block;
        min-width: 4em;
        height: 1.75em;
        line-height: 1.75em;
        background: #009307;
        color: #fff;
        text-align: center;
        padding: 0 0.8em;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 1em;
    }

    footer[role="footer"] section[role="buttons"] {
        display: inline-block;
        height: 2.5em;
        line-height: 2.5em;
    }

    section[role="buttons"] button {
        margin-left: 1em;
    }

    section[role="buttons"] .bottomBotton {
        display: inline-block;
        min-width: 4em;
        height: 1.75em;
        line-height: 1.75em;
        border-radius: .4em;
        -webkit-border-radius: .4em;
        background: #058FCA;
        color: #FFFFFF;
        text-align: center;
        padding: 0 0.8em;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 1em;
    }

    section[role="buttons"] .bottomBotton:hover {
        background: #63a8e6;
    }

    /*pc版表格样式*/
    table.dbgrid tr td span {
        padding-right: 1em;
    }

    table.dbgrid tr[id*=_] {
        background-color: #fff;
        font-size: 0.9em;
        color: #6a6a6a;
    }

    table.dbgrid {
        color: #ffffff;
        border-width: 1px;
        border-collapse: collapse;
    }

    .dbgrid input[role=edit] {
        color: red;
    }

    /*选择弹窗的样式*/
    .selectDialog {
        width: 95%;
    }

    section[role="content"] ul.info li input[type='text'],
    section[role="content"] ul.info li input[type='file'],
    select, textarea {
        width: 12em;
    }

    section[role="content"] ul.info li label {
        max-width: none;
        text-align: left;
    }

    li[role="Discount_"] {
        margin-left: 1em;
    }

    section[role="content"] ul.info li img {
        float: right;
        margin-top: 0.6em;
    }

    /*卡片样式 用于基本资料、帐号权限管理等*/
    section[role="content"] section[role="sheetCard"] {
        width: 32%;
        margin: 1.3%;
        margin-top: 0;
        margin-left: 0;
        min-height: 13em;
    }

    section[role="content"] ul.info li p {
        margin: 0.5em 0 !important;
    }

    .dbgrid td {
        line-height: 1.6em;
    }
}

/*选择弹窗的样式*/
.selectDialog {
    width: 95%;
}

/* 订单保存，删除 */
#search button[name="opera"] {
    border-radius: 0.5em;
    margin-left: 3em;
    border-radius: 0.5em;
    margin: 1.5em;
    margin-left: 3em;
    width: 6em;
    height: 2.5em;
}

section[role="content"] form#search button[name="opera"]:last-child {
    background-color: #E60012;
    margin-left: 0.5em;
}

/* pc版ul列表布局 */
section[role="content"] ul.info {
    width: 75%;
    overflow: hidden;
}

section[role="content"] ul.info li {
    list-style-type: none;
    min-width: 24em;
    line-height: 3.5em;
    padding: 0.25em 0.5em 0.25em 0.1em;
    float: left;
}

/* 控制li换行 */
.line_feed {
    clear: both;
}

.block104 {
    border-bottom: none !important;
}

.block902 {
    background: #ffffff;
}

.block902 div[role="title"] {
    text-indent: 0 !important;
}

@media only screen and (max-height: 768px) {
    body {
        padding-top: 2.5em;
    }

    header[role="header"] {
        height: 2.5em !important;
        min-height: 2.5em !important;
    }

    .titel_top {
        display: none;
    }

    nav[role="mainMenu"] {
        height: 2.5em !important;
    }

    nav[role="mainMenu"] section, nav[role="mainMenu"] section ul, nav[role="mainMenu"] section ul li {
        height: 2.5em !important;
        line-height: 2.5em !important;
    }

    aside[role="toolBar"] {
        top: 0 !important;
    }
}
span[role="salesStatus"]{
    border: 1px solid red;
    color: red;
    padding: 0px 0.125em !important;
    margin-right: 0.25em;
}