@charset "UTF-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
header, hgroup, nav, section, article, aside, footer, figure,
figcaption, menu, button {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

em, i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-top: .5em;
}

table tr {
    width: 100%;
    height: 2em;
    line-height: 2.5em;
    cursor: pointer;
    font-size: 1.032em;
}

table tr:hover {
    background: #baddec;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
}

/*清除浮动样式*/
.clear {
    clear: both;
}

/*系统内所有链接的样式*/
a:link {
    text-decoration: none;
    color: #0283f7;
}

a:visited {
    text-decoration: none;
    color: #0283f7;
}

a:hover {
    text-decoration: none;
    color: #015bad;
}

a:active {
    text-decoration: none;
    color: #0283f7;
}

nav[role="mainMenu"] a:hover {
    background-size: cover;
    color: yellow;
}

button, input[type="submit"], input[type="button"] {
    min-width: 4em;
    height: 1.75em;
    line-height: 1.75em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    background: #058FCA;
    color: #FFFFFF;
    text-align: center;
    padding: 0 1em;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"],
select, input[type="password"] {
    width: 10em;
    height: 1.75em;
    line-height: 1.75em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    border: none;
    outline: none;
    border: 1px solid #C2CAD8;
    padding-left: .6em;
    color: #333;
    font-size: 0.9em;
}
.body-iphone{
    font-size: 17px !important;
}
.body-android{
    font-size: 15px !important;
}
.dbgrid input[type="text"],.dbgrid  input[type="number"],.dbgrid  input[type="tel"],.dbgrid  input[type="email"],
.dbgrid select, .dbgrid input[type="password"] {
    width: 100%;
}

select {
    min-height: 1.75em;
    height: auto;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus,
input[type="email"]:focus {
    border: 1px solid #058FCA;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #63a8e6;
}

button[disabled="disabled"], button:disabled {
    background: #8cb58e !important;
    -webkit-appearance: none;
    color: #fff;
}

html {
    background: #f5f5f5;
}

body {
    margin: 0 auto;
    clear: both;
    line-height: 1.75em;
    padding-top: 2.2em;
    font-size: 0.9em;
}

/*选择弹窗的样式*/
.selectDialog {
    border-radius: 0.5em;
    display: none;
    position: fixed;
    z-index: 101;
    width: 100%;
    cursor: move;
}

.dialogClose span {
    float: right;
}

.dialogClose a {
    color: red !important;
    padding: 0.15em 0.5em;
}

/*普及版购物车数量修改样式*/
.reducelabel a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3em;
    background: #ff732f;
    cursor: pointer;
    font-weight: bold;
    color: #e7e7e7;
}

.reducelabel a:hover {
    background: #ff5300;
    color: white;
}

/*pc版表格样式*/
.dbgrid {
    width: 99%;
    border-collapse: collapse;
    border-image: none;
    border: 1px solid #eeeeee;
    margin: 0 0.5em;
}

.dbgrid tr {
    height: 2.5em;
}

.dbgrid th {
    font-weight: normal;
    border: 1px solid #eeeeee;
    padding: 0.25em;
    background: #D5D5D5;
    line-height: 1.2em;
}

.dbgrid td {
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    padding: 0 0.2em;
}

.dbgrid tr:not(:first-child) {
    color: #666666;
    background-color: #ffffff;
    font-size: 1em;
}

.dbgrid td input {
    border: 0;
    border-radius: 0;
}

.dbgrid td input[type="checkbox"] {
    height: 1em;
}

/* 搜索form专用 */
form.search {
    padding: 0.5em;
    background: #ececec;
    clear: both;
}

form.search table {
    width: 70%;
    float: left;
}

form.search th {
    font-weight: normal;
    text-align: right;
    min-width: 6em;
    width: 30%;
    text-align: right;
}

form.search td {
    width: 70%;
    min-width: 1em;
}

form.search td input {
    width: 100%;
    font-size: 1.2em;
}

form.search td select {
    width: 100%;
    font-size: 1.2em;
}

form.search div input {
    min-width: 6em;
}

form.search p {
    clear: both;
}

form.search ul {
    list-style-type: none;
}

form.search ul li {
    min-width: 6em;
}

form.search ul li input, form.search ul li select {
    width: 50%;
    min-width: 6em;
}

form.search ul li input.price {
    width: 27%;
}

form.search ul li span {
    display: inline-block;
    padding: 0 0.25em;
    width: 3em;
}

form.search ul li label {
    display: inline-block;
    min-width: 5em;
    max-width: 7em;
    text-align: left;
}

form.search ul li[role="hidden"] label {
    max-width: none;
}

form.search ul li a img {
    vertical-align: middle;
    border: 1px solid #bebebe;
    border-radius: 0.2em;
}

form.search ul li a img:hover {
    border: 1px solid #fecd38;
    border-radius: 0.2em;
}

form.search ul li input[type=checkbox] {
    min-width: 1em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.5em;
}

form.search ul li input[type=checkbox] + label {
    max-width: 14em;
}

form.search input[type=submit] {
    margin-top: 1em;
}

form.search button {
    margin-top: 1em;
}

form.search p input {
    float: right;
    min-width: 6em;
    vertical-align: top;
}

[readonly=readonly] {
    background-color: #f7f7f7;
}

[readonly=readonly]:focus {
    border: 1px solid #dcdbdb !important;
}

/* 修改form.formBox专用 */
form.modify {
    padding: 0.5em 0;
    background: #ececec;
    clear: both;
    text-align: center;
    position: relative;
}

form.modify table {
    width: 70%;
    float: left;
}

form.modify th {
    font-weight: normal;
    text-align: right;
    min-width: 6em;
    width: 30%;
    text-align: right;
}

form.modify td {
    width: 70%;
    min-width: 1em;
}

form.modify td input {
    width: 100%;
    font-size: 1.2em;
}

form.modify td select {
    width: 100%;
    font-size: 1.2em;
}

form.modify div input {
    min-width: 6em;
}

form.modify p {
    clear: both;
}

form.modify ul {
    list-style-type: none;
}

form.modify ul li {
    min-width: 6em;
    padding-top: 0.25em;
}

form.modify ul li section {
    text-align: left;
    padding-left: 0.25em;
}

form.modify ul li input, form.modify ul li select {
    width: 55%;
    min-width: 6em;
}

form.modify ul li input[type="radio"] {
    width: 1em;
    min-width: 0.5em;
    display: inline-block;
    margin: 0;
}

form.modify ul li span {
    display: inline-block;
    padding: 0 0.25em;
    width: 3em;
}

form.modify ul li label {
    display: inline-block;
    text-align: right;
    width: 5.1em;
    text-align: left;
}

form.modify ul li a img {
    vertical-align: middle;
    border: 1px solid #bebebe;
    border-radius: 0.2em;
}

form.modify ul li a img:hover {
    border: 1px solid #fecd38;
    border-radius: 0.2em;
}

form.modify ul li input[type=checkbox] {
    min-width: 1em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
}

form.modify ul li input[type=checkbox] + label {
    width: auto;
}

form.modify input[type=submit] {
    margin-top: 1em;
}

form.modify button {
    margin: 1em 0.5em 0 0.5em;
}

form.modify p input {
    float: right;
    min-width: 6em;
    vertical-align: top;
}

ul.select-line {
    list-style-type: none;
}

/*新框架样式*/

article[role="document"] form {
    background-color: #ffffff;
    margin-bottom: 0.5em;
    line-height: 2em;
    border-radius: 0.35em;
    overflow: hidden;
    /*position: relative;*/
}

section[role="content"] ul.info {
    padding-top: 16px;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    background-color: #ffffff;
    border-radius: 0.5em;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {

    section[role="content"] ul.info {
        width: 80%;
    }

    section[role="content"] ul.info li {
        list-style-type: none;
        min-width: 24em;
        line-height: 3.5em;
        padding: 0.25em 0.5em 0.25em 0.1em;
        float: left;
    }

    section[role="content"] .scrollArea section {
        line-height: 3em;
    }
}

section[role="content"] ul.info li a {
    display: inline-block;
    vertical-align: middle;
}

section[role="content"] ul.info li font {
    color: red;
    vertical-align: middle;
}

section[role="content"] ul.info li label {
    display: inline-block;
    text-align: left;
    min-width: 7em;
    max-width: 11em;
    vertical-align: middle;
}

section[role="content"] ul.info li input {
    vertical-align: middle;
}

section[role="content"] ul.info li input[type='text'], li input[type='number'], li input[type='tel'], li input[type='file'] {
    min-width: 12em;
    width: 55%;
    height: 1.75em;
    vertical-align: middle;
}

section[role="content"] ul.info li img {
    margin-top: 0 !important;
    margin-left: 0.5em;
}

section[role="content"] ul.info li input[type='checkbox'] {
    vertical-align: middle;
}

section[role="content"] ul.info li select, li textarea {
    width: 12em;
    vertical-align: middle;
}

section[role="content"] ul.info li textarea {
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    padding: 0.3em 0.6em 0em 0.6em;
    vertical-align: middle;
}

/*卡片样式 用于基本资料、帐号权限管理等*/
section[role="content"] section[role="sheetCard"] {
    background: #ffffff;
    width: 90%;
    float: left;
    margin: 0.25em 5%;
    height: auto;
}

section[role="content"] section[role="sheetCard"] div {
    padding: 0 0.5em;
}

section[role="content"] section[role="sheetCard"] div.describe {
    width: 80%;
}

section[role="content"] section[role="sheetCard"] label {
    display: block;
    width: 100%;
    border-bottom: 1px solid #bbb;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-left: 2px solid #ff7431;
    margin-bottom: 0.25em;
}

section[role="content"] section[role="sheetCard"] label a {
    float: right;
    font-weight: normal;
}

/*首页图标样式*/
section[role="content"] ul[role="menuList"] {
    padding: .625em;
    background: #ffffff;
    margin-bottom: 0.5em;
}

section[role="content"] ul[role="menuList"] li {
    padding-top: 0.5em;
    width: 25%;
    max-width: 8.5em;
    min-height: 8.5em;
    overflow: hidden;
    float: left;
    min-width: 3em;
    text-align: center;
}

section[role="content"] ul[role="menuList"] li a {
    color: #333;
}

section[role="content"] ul[role="menuList"] li div[role="menuName"] {
    line-height: 1.2em;
    margin-top: 0.5em;
}

/*rightSide区内的样式*/
aside[role="toolBar"] section {
    border: 1px solid #DDDDDD;
    background: #ffffff;
    margin: 0 0.5em 1em;
    padding: 0 0.5em;
    border-radius: 0.35em;
}

aside[role="toolBar"] section ul {
    width: auto;
    margin: auto;
}

aside[role="toolBar"] section .contents ul {
    width: auto;
}

aside[role="toolBar"] section .contents ul li {
    padding: 0 0 0 0.5em;
    min-height: 2em;
    line-height: 2em;
    margin: 0;
}

aside[role="toolBar"] section ul li {
    list-style-type: none;
    padding: 0 0 0 3.5em;
    margin: 1em 0;
}

aside[role="toolBar"] section ul li a {
    display: inline;
    padding: 0;
}

aside[role="toolBar"] section div.title {
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding: 0.05em 1.5em;
    box-shadow: unset;
    color: #999999;
    font-weight: bold;
    border-radius: 8px 0 0 0;
    position: relative;
}

aside[role="toolBar"] section div.title:before {
    position: absolute;
    top: 0.5em;
    left: 0;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/tips-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em 1em;
}

aside[role="toolBar"] section div.contents {
    padding: 0.5em 0;
}

aside[role="toolBar"] section div.contents a {
    padding: 0.01em 0.5em;
    line-height: 2em;
}

aside[role="toolBar"] section div.contents p {
    color: #999999;
    margin: 0;
    padding: 0 0.25em;
    text-indent: 0em;
}

aside[role="toolBar"] div.contents a {
    display: inline-block;
    padding: 0 0.4em;
    color: #009307;
}

/*工具栏选项卡*/
aside[role="toolBar"] ul[role="toolGroup"] {
    display: none;
    width: 100%;
}

aside[role="toolBar"] ul[role="toolGroup"] ui {
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-bottom: .5em;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cecece;
}

aside[role="toolBar"] ul[role="toolGroup"] ui.active {
    color: #058FCA;
    background: #fff;
    border: 0;
}

aside[role="toolBar"] div[role="toolSheet"] {
    clear: both;
    height: auto;
    color: #fff;
    overflow-y: auto;
}

aside[role="toolBar"] div[role="toolSheet"]#group0 {
    display: block;
    position: absolute;
    top: 16em;
}

footer[role="footer"] section[role="footerOperation"] {
    display: inline-block;
    margin-left: 1em;
}

footer[role="footer"] section[role="footerOperation"] input[type="checkbox"], footer[role="footer"] section[role="footerOperation"] label {
    vertical-align: middle;
}

/** 左侧菜单栏**/
aside[role="toolBar"] section.menuList {
    border: inherit;
}

aside[role="toolBar"] section.menuList > div > img {
    width: 2.8em;
    vertical-align: baseline;
    margin-right: 0.84em;
    margin-left: 1.5em;
}

aside[role="toolBar"] section.menuList > div > ul > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    display: inline-block;
    font-size: 1.1em;
}

aside[role="toolBar"] section.menuList > div > ul > li {
    height: 2.5em;
    line-height: 2.5em;
}

aside[role="toolBar"] section.menuList > div > ul > li:hover img[role="icon"] {
    filter: initial;
}

aside[role="toolBar"] section.menuList > div > ul > li > img[role="icon"] {
    width: 2em;
    margin-right: 1.152em;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-43%);
    -ms-transform: translateY(-43%);
    -moz-transform: translateY(-43%);
    -webkit-transform: translateY(-43%);
    -o-transform: translateY(-43%);
}

aside[role="toolBar"] section.menuList > div > ul > li > img[role="arrow"] {
    width: 0.463em;
    float: right;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

/*操作提示信息*/
section[role="message"] {
    min-height: 2.5em;
    max-height: 7em;
    line-height: 1.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    color: red;
    padding: 5px 5px 0;
}

/*设置导航栏左部分图标大小*/
section[role="leftMenu"] > ul li img {
    margin-top: -0.2em;
}

@media only screen and (max-width: 768px) {
    .ui-title {
        display: none;
    }

    img {
        max-width: 100% !important;
    }

    form.search {
        text-align: center;
    }

    .inputGroup {
        width: 16em;
        height: 2em;
        line-height: 2em;
        /*margin: .5em auto 0;*/
        margin: 0 auto;
    }

    .inputGroup label {
        display: inline-block;
        width: 5em;
        height: 2em;
        margin-right: .6em;
        text-align: right;
    }

    .inputGroup .btnSubmit {
        display: block;
        margin: .5em auto 0;
    }

    /*头部*/
    header[role="header"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 2.2em;
        background: #058FCA;
        z-index: 102;
    }

    section[role="ad"] {
        display: none;
        width: 100%;
        height: 2.2em;
    }

    section[role="ad"] img {
        width: 100%;
        height: 2.2em;
    }

    nav[role="mainMenu"] {
        width: 100%;
        height: 2.2em;
        padding: 0 10px;
        color: #fff;
        position: relative;
    }

    nav[role="mainMenu"] section[role="leftMenu"] {
        width: 100%;
        height: 2.2em;
        line-height: 2.2em;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        display: none;
    }

    nav[role="mainMenu"] section[role="leftMenu"] > ul {
        width: 100%;
        min-height: 2.2em;
    }

    section[role="leftMenu"] > ul li {
        float: left;
        height: 2.2em;
        line-height: 2.2em;
        padding-left: 0.5em;
        color: #FFFFFF;
    }

    section[role="leftMenu"] > ul li a {
        color: #FFFFFF;
    }

    span[role="shopNums"] {
        top: -0.6em !important;
        font-size: 11px !important;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: 100%;
        min-height: 2.2em;
    }

    section[role="rightMenu"] > ul {
        float: right;
    }

    section[role="rightMenu"] > ul li {
        float: left;
        height: 2.2em;
        line-height: 2.2em;
        padding: 0 .5em 0 0.5em;
        color: #FFFFFF;
    }

    section[role="rightMenu"] > ul li a {
        color: #FFFFFF;
    }

    section[role="rightMenu"] > ul li img {
        width: 1.2em;
        height: 1.2em;
        margin-top: -0.4em;
        /*vertical-align: baseline;*/
    }

    nav[role="mainMenu"] section[role="rightMenu"] a {
        color: #fff;
    }

    nav[role="mainMenu"] section[role="leftMenu"] .menu {
        width: 1.8em;
        height: 1.5em;
        margin-top: -.4em;
    }

    nav[role="mainMenu"] section[role="rightMenu"] {
        width: auto;
        height: 2.2em;
        line-height: 2.2em;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 210;
        background-color: #058FCA;
    }

    /*主体部分*/
    article[role="document"] {
        width: 100%;
        min-height: 10em;
        position: relative;
    }

    article[role="document"] section[role="control"] {
        width: 100%;
        min-height: 3em;
        background: #ececec;
    }

    article[role="document"] section[role="control"] div[role="group"] {
        padding: 0 0.5em;
    }

    article[role="document"] section[role="content"] {
        width: 100%;
        min-height: 5em;
    }

    article[role="document"] section[role="content"] .dbgrid {
        margin-top: 0.625em;
        padding: 0 0.625em;
    }

    /*工具栏部分*/
    aside[role="toolBar"] {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        border: 1px solid #e6e6e6;
        z-index: 999;
        padding: 1em 2.625em 1em .625em;
    }

    .leftAside {
        background-image: url(../images/handle-left-phone.png);
        border-left: 2px solid rgb(250, 173, 97);
        border-right: medium none transparent;
        cursor: pointer;
        display: block;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        right: initial;
        width: 1em;
        background-size: .7em 4.5em;
        background-position: -1px center;
        background-repeat: no-repeat;
        height: 100%;
        z-index: 101;
    }

    aside[role="toolBar"] section[role="sheet"] {
        width: 100%;
        margin-top: .6em;
    }

    aside[role="toolBar"] section[role="sheet"] #tab {
        width: 100%;
        margin: 0 auto;
        /*box-shadow: 5px 5px 5px #058FCA;*/
    }

    aside[role="toolBar"] section[role="sheet"] #tab h3 {
        margin: 0px;
        padding: 0px;
        float: left;
        right: .3em;
        width: 5em;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }

    aside[role="toolBar"] section[role="sheet"] #tab div {
        clear: both;
        height: 10em;
        padding: .6em 0px 0px .6em;
        display: none;
        color: #fff;
        overflow-y: auto;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    aside[role="toolBar"] section[role="sheet"] #tab h3.active {
        background: #058FCA;
        border-top-left-radius: .4em;
        border-top-right-radius: .4em;
        color: #fff;
    }

    aside[role="toolBar"] section[role="sheet"] #tab div.content {
        display: block;
        background: #058FCA;
    }

    /*底部*/
    footer[role="footer"] {
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #f7f7f7;
        z-index: 101;
        border-top: 1px solid #dedede;
    }

    footer[role="footer"] section[role="footerTools"] {
        display: inline-block;
    }

    section[role="footerTools"] > a {
        display: inline-block;
        min-width: 4em;
        height: 1.75em;
        line-height: 1.48em;
        border-radius: .4em;
        -webkit-border-radius: .4em;
        text-align: center;
        padding: 0 0.5em;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 0.5em;
        background: #fcfcfc;
        color: #333;
        border: 1px solid #dedede;
        margin-top: 0.35em;
        font-size: 1em;
    }

    footer[role="footer"] section[role="footerButtons"] {
        width: 100%;
        height: 2.5em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: -moz-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    section[role="footerButtons"] a {
        display: inline-block;
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        color: #333;
        float: left;
        border-right: 1px solid #dedede;
    }

    section[role="footerButtons"] a:last-child {
        border-right: none;
    }

    section[role="message"] {
        padding: 5px 5px 0;
    }

    /*内容区样式（手机版段落式排版）*/
    ol.context li {
        padding: 0.5em 0.5em 0.5em 0.75em;
        border-bottom: 1px solid #8c8c8c;
    }

    ol.context {
        list-style-type: none;
        margin-top: 0;
        background: #fff;
    }

    ol.context li table {
        width: 100%;
        border-collapse: collapse;
    }

    ol.context li table tr th {
        text-align: right;
        font-weight: normal;
        padding: 0.25em;
    }

    ol.context li table tr td {
        text-align: left;
    }

    ol.context li table tr input {
        width: 50%;
    }

    /* ol.context li table tbody tr:nth-child(odd) {
        background: #eee;
    } */
    ol.context li table tbody tr:hover {
        background: #b0d8ff;
    }

    ol.context li section span {
        margin-right: 0.5em;
    }

    ol.context li section span.right {
        float: right;
    }

    ol.context li section span img {
        vertical-align: middle;
    }

    /* table订单列表 */
    button[name="opera"] {
        margin-left: 2.5em;
    }

    table tr {
        font-size: 0.9em;
    }

    section[role="content"] ul.info li input[type='text'] {
        width: auto;
    }

    input[name="file1"]#file1 {
        display: block;
    }
    
    article[role="document"] form#component1 {
        padding: 1em;
    }    
}

.dialogClose {
    width: 100%;
    background-color: #058fca;
    color: white;
    padding: 0.3em;
    position: absolute;
}

/*选中行时整行变色*/
.trColor {
    background-color: #c4f1b8 !important;
}

/*长条色块**/
.progress1 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid rgb(153, 153, 153);
    text-align: left;
}

.progress1 span {
    display: none;
}

.progress2 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid rgb(153, 153, 153);
    text-align: left;
}

.progress2 span {
    display: block;
    height: 10px;
    width: 50%;
    left: 0px;
    background-color: #009944;
}

.progress3 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid lawngreen;
    text-align: left;
}

.progress3 span {
    display: block;
    height: 10px;
    width: 100%;
    background-color: #009944;
}

.progress4 {
    width: 2em;
    display: inline-block;
    height: 12px;
    border: 1px solid #ff8000;
    text-align: left;
}

.progress4 span {
    display: block;
    height: 10px;
    width: 100%;
    background-color: #EC6941;
}

/*多选框开关样式*/
.switch > input {
    display: none;
}

.switch > input + label {
    background-color: #F0F0F2;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
    display: block;
    height: 1.6em;
    width: 3em;
}

.switch > input:checked + label {
    background-color: #4cda60;
    border: 1px solid #4cda60;
}

.switch > input + label > span {
    border: 1px solid;
    border-radius: 50%;
    color: #cacaca;
    display: block;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    float: left;
}

.switch > input:checked + label > span {
    float: right;
}

#tableTbType > div {
    background-color: #f2f2f2;
    font-size: 0.9em;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1em;
    text-align: left;
    width: 100%;
}

#tableTbType ul li {
    display: inline-block;
    margin-left: 1em;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

/*时间色管理样式*/
em.oneMonth {
    background: #00c462;
    margin-right: 0.5em;
}

em.threeMonth {
    background: #fb0035;
    margin-right: 0.5em;
}

em.overThreeMonth {
    background: #82001a;
    margin-right: 0.5em;
}

em.overOneYear {
    background: black;
    margin-right: 0.5em;
}

/** 去掉IE10文本框带有叉叉和眼睛**/
::-ms-clear, ::-ms-reveal {
    display: none;
}

.fieldsetGroup {
    border: 1px solid #e5e5e5;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    border-radius: 0.5em;
    min-height: 7em;
    background-color: #ffffff;
}

.fieldsetGroup > legend {
    font-size: 1.2em;
    font-weight: bold;
}

.trBorder td {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.trBorder td:first-child {
    border-left: 2px solid red;
}

.trBorder td:last-child {
    border-right: 2px solid red;
}

.inquiry-list {
    width: 100%;
    height: auto;
    background: #f5f5f5;
}

.inquiry-list .inquiry-item {
    width: 100%;
    height: 11em;
    background: #fff;
    margin-top: 0.7em;
    padding: 0 1em;
}

.inquiry-item .block112 {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    border-bottom: 1px dotted #e6e6e6;
    color: #058FCA;
}

.inquiry-item .block112 span[role=right] {
    float: right;
    color: #333;
}

.inquiry-item .block_Img_Div {
    width: 100%;
    height: 8.5em;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.inquiry-item .block_Img_Div div[role=image] {
    width: 10em;
    height: 8.5em;
    line-height: 8.5em;
    margin-right: 0.7em;
    text-align: center;
}

.inquiry-item .block_Img_Div div[role=image] img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 6em;
}

.inquiry-item .block_Img_Div .blockRight {
    width: 70%;
}

.inquiry-item .block_Img_Div span {
    display: block;
}

.inquiry-item .block_Img_Div span em {
    float: right;
}

.inquiry-item .block_Img_Div span i {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
}

.inquiry-item .block_Img_Div span font {
    color: #e90000;
}

.goods-list {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.5em;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.goods-list .goods-item {
    width: 50%;
    height: 20em;
    padding: 0.5em;
}

.goods-list .goods-item .block_Img_Div {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.goods-item .block_Img_Div > div {
    height: 50%;
    width: 100%;
    text-align: center;
}

.goods-item .block_Img_Div div[role=image] {
    background: #f5f5f5;
}

.goods-item .block_Img_Div div[role=image] img {
    height: 100%;
    width: auto;
}

.goods-item .block_Img_Div .blockRight {
    text-align: left;
    padding: 0.5em;
}

.goods-item .block_Img_Div .blockRight span {
    display: block;
    color: #666;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods-item .block_Img_Div .blockRight span i {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
}

.goods-item .block_Img_Div .blockRight span font {
    color: #e90000;
}

/* 二级页面导航样式 */

.nowpage {
    width: 100%;
    line-height: 3em;
    background: #D5D5D5;
    color: #404047; 
    text-align: center;
    margin: auto;
    position: relative;
}

.nowpage img {
    width: 1.5em !important;
    height: 1.1em;
    position: absolute;
    left: 4.3em;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nowpage span {
    vertical-align: middle !important;
    font-size: 1.05em;
    font-weight: bold;
}

aside[role="toolBar"] section.twoMenuList {
    border: inherit;
    background: #EAE8E7;
    margin: 0;
    padding: 0;
}

aside[role="toolBar"] section.twoMenuList > div > ul > li {
    height: 2.5em;
    line-height: 2.5em;
}

aside[role="toolBar"] section.twoMenuList > div > ul > li > img[role="icon"] {
    width: 1.2em;
    margin-right: 1.152em;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

aside[role="toolBar"] section.twoMenuList > div > ul > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
    display: inline-block;
    font-size: 1.1em;
    color: #666666;
}

aside[role="toolBar"] section.twoMenuList > div > ul > li > img[role="arrow"] {
    width: 0.463em;
    float: right;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.twoMenuList > div > ul > li:hover {
    background: #D5D5D5;
}

section[role="content"] .scrollArea {
    background: #ffffff;
}

section[role="content"] .scrollArea table {
    margin-top: 0;
    border-right: none;
    border-left: none;
}

input[name="file1"]#file1 {
    margin: 0.5em 0;
}

article[role="document"] section[role="content"] button[name="importFile"] {
    margin-left: 1.5em;
}

/* 问号提示框 */
mark {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    color: #848484;
}
.security-code-search ul li{
    display: block !important;
    margin: 0 auto;
}

form.search ul li div {
    display: inline-block;
    position: relative;
    width: 52%;
}
form.search ul li div select {
    width: 97%;
}
form.search ul li div input {
    position: absolute;
    left: 1px;
    width: 82%;
    border: none;
    height: 1.4em;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
form.search ul li div input:focus {
    outline:none;
    border: none;
}

.search.partPrinciple {
    position: relative;
}
/*文本超过一行出现省略号*/
.text-omit{
    display: block;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-icon {
    width: 1.5em;
    float: left;
    margin-left: 0.8em;
    transform: translateY(0.5em);
    height: 1.1em;
}